body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #898C90;
}

h1, h2 {
    color: white;
}

a:link {
    color: yellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: yellow;
}

a:active {
    color: yellow;
}
